.scatter-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.scatter-layer__shape {
  position: absolute;
  will-change: top;
  transition: top 50ms linear;
}
